body {
    font-family: 'Times New Roman', Times, serif;
    background-color: lightgrey;
}

h1 {
    color: white;
    background-color: black;
    opacity: 0.85;
}

h1, h2 {
    text-decoration: underline;
}

h2 {
    border-style: dashed;
    border-width: 3px;
    border-color: white;
}